<div ng-controller="EntryList">
  <h2>
    Entries
  </h2>
  <input type="text" placeholder="Entry Name" ng-model="newEntry">
  <button ng-click="addEntry()">
    Add
  </button>
  <ul>
    <li ng-repeat="entry in entries">
      {{entry}} <button>Remove</button>
    </li>
  </ul>
  <h3>
    New entry: {{newEntry}}
  </h3>
</div>
<script type="text/javascript">
var myApp = angular.module('myApp',[]);
myApp.controller('EntryList', EntryList);

function EntryList($scope) {
  $scope.entries = [
    "a", "b", "c"
  ];
  $scope.addEntry = function() {
    $scope.entries.push($scope.newEntry);
    $scope.newEntry = "";
  };
};
</script>
